@import 'mixin';

.mod-anime-list {
  .anime-item {
    display: flex;
    height: 10rem;
    border-bottom: solid 1px #e1e4e8;

    @include sp-display {
      flex-direction: column;
      height: auto;
      padding: 16px 0;
    }

    .item-thumbnail-wrapper {
      align-self: center;
      width: 10rem;

      @include sp-display {
        width: auto;
        height: 10rem;
      }
    }

    .item-thumbnail {
      width: 10rem;
      height: auto;

      @include sp-display {
        width: auto;
        height: 10rem;
      }
    }

    .item-contents {
      width: calc(100% - 10rem);
      padding-left: 1rem;

      @include sp-display {
        width: 100%;
        padding-left: 0;
      }
    }

    .item-title {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0.5rem 0;

      @include sp-display {
        font-size: 1rem;
        padding: 0 0.5rem;
      }
    }

    .item-watchers-count {
      margin-bottom: 0.5rem;

      @include sp-display {
        padding: 0 0.5rem;
      }
    }

    .item-link-btn-wrapper {
      @include sp-display {
        display: flex;
        justify-content: center;
      }
    }
  }
}
