.mod-anime-list {
  .anime-item {
    display: flex;
    height: 10rem;
    border-bottom: solid 1px;

    .item-thumbnail {
      align-self: center;
      width: 10rem;
      height: auto;
    }

    .item-contents {
      margin-left: 1rem;
    }

    .item-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}
