<div class="mod-anime-list">
  <span *ngFor="let anime of animeList">
    <div class="anime-item">
      <div class="item-thumbnail-wrapper">
        <img class="item-thumbnail" src="{{anime.images.recommended_url}}" />
      </div>
      <div class="item-contents">
        <div class="item-title">{{anime.title}}</div>
        <div class="item-watchers-count">{{anime.watchers_count}} Watchers</div>
        <p><a href="{{anime.wikipedia_url}}">Wikipedia へ</a></p>
        <p><a href="{{anime.official_site_url}}">オフィシャルサイト へ</a></p>
      </div>
    </div>
  </span>
</div>
