@import '../../../assets/styles/_mixin';

.c-anime-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;

  .anime-item {
    margin: 1rem;
    width: 20rem;
    height: 14rem;
  }

  .item-title {
    font-size: 0.8rem;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
  }

  .item-thumbnail {
    width: 20rem;
    height: auto;
  }
}
