<div class="mod-anime-list">
  <app-season (selected)="getTargetSeasonId($event)"></app-season>

  <span *ngFor="let anime of animeList">
    <div class="anime-item">
      <div class="item-thumbnail-wrapper">
        <img class="item-thumbnail" src="{{anime.images.recommended_url}}" />
      </div>
      <div class="item-contents">
        <div class="item-title">{{anime.title}}</div>
        <div class="item-watchers-count">{{anime.watchers_count}} Watchers</div>
        <div class="item-link-btn-wrapper">
          <a mat-raised-button href="{{anime.wikipedia_url}}">Wikipedia</a>
          <a mat-raised-button href="{{anime.official_site_url}}">オフィシャルサイト</a>
        </div>
      </div>
    </div>
  </span>
</div>
