@import 'mixin';

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: #673ab7;

  @include sp-display {
    justify-content: center;
  }

  .logo {
    color: white;
    font-size: 1rem;
    padding-left: 1rem;
  }
}

.main {
  display: flex;
  justify-content: center;
}
